<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:insert="fragments.html :: headerfiles">

  <style type="text/css">
        label{
            display: inline-block;
            width: 200px;
            margin: 5px;
            text-align: left;
        }
        button{
            margin: 10px;
            padding: 10px;
        }
    </style>

</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="container" align="center">
  <h1 align="center">ADMIN PAGE</h1>
  <h2 align="center">Add Employee</h2>
  <form action="#" th:action="@{/admin/addition_employee_successful}" th:object="${user}" th:method="put">

    <label>Employee name:</label>
    <input type="text" th:field="*{username}"><br>

    <label>Employee password:</label>
    <input type="password" th:field="*{password}"><br>

    <label>Employee phone number:</label>
    <input type="text" th:field="*{phoneNumber}"><br>

    <button type="submit" onclick="/updateEmployee${*{username}}">Submit</button>
  </form>
</div>
</body>
</html>